@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #FADADD;
    --text-color: #333;
    --text-color2: #8B8B8B;
    --text-color3: #fff;
    --primary-color: #C67B8F;
    --secondary-color: #CADBE1;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

.btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: medium;
    width: 180px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in;
}

h1, h2 {
    font-family: "Playflair Display", serif;
}

/* Header */

header {
    background-color: var(--background-color);
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

header .logo {
    font-size: 2rem;
    font-family: "Great Vibes", cursive;
    font-weight: normal;
    color: #000;
    display: flex;
    gap: 0.5rem;
    align-content: center;
}

header .logo img {
    width: 40px;
    height: 40px;
}

header .logo p {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

nav a:hover {
    color: var(--primary-color);
}

/* Hero */

.hero {
    text-align: center;
    padding: 4rem 2rem;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); 
    z-index: 1;
}

.hero .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.hero h1 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    color: var(--text-color1);
    z-index: -9;
}

.hero .btn:hover {
    background-color: var(--secondary-color);
}

/* Sobre */

#sobre {
    background-color: var(--secondary-color);
    padding: 3rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.left img {
    width: 400px;
    height: 350px;
    border-radius: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.right p {
    text-align: justify;
    font-size: 20px;
    width: 80%;
}

.right h2 {
    text-align: center;
    font-size: 2rem;
}

